/* CSS DOCUMENT */
@charset "UTF-8"; 

@font-face {
    font-family: Lactos;
    src: url(fuentes/dxlactos-regular-free-personal-use.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: lato;
    src: url(fuentes/lato-regular.ttf);
    font-weight: normal;
    font-style: normal;
}

h1{
    color: #FF8500;
    text-align: left;
    font-family: "Dx Lactos - Free Persoanl Use";
    font-size: 150px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    margin: 0 0 -15px 0px;

}

h2{
    color: #8FA0D8;
    font-family: Lato;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0 0 6px 0px;
}

h3{
    color: #8FA0D8;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0 20 80px 0px;
}

p{
    color: #171143;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px
}

h4{

}

body{
    background-color: #F9DFC6;
}

header{
    display: flex;
    padding: 0px;
    background: #FF8500;
}

header nav{
    display: flex;
    width: 1681px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
}

#botones{
    display: flex;
    align-items: center;
    gap: 74px;
    list-style: none;
}

#botones a{
    color: #171143;
    font-family: "lato",sans-serif;
    font-size: 17px;
    font-weight: 400;
    text-decoration: none;
    list-style: none;
}

footer{
    display: flex;
    height: 84px;
    padding: 40px 8%;
    align-items: center;
    background: #FF8500;
    justify-content: space-between;
    box-sizing: border-box;
    line-height: 2px;
    color: #F9DFC6;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    }

.footer-izquierdo{
text-align: left;
}

.footer-medio{
    text-transform: lowercase;
    margin: 0 0 8px 0;
    
}
body{
    margin: 0;
    padding: 0;
}

.presentacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    padding: 110px;
}

.malena{
   display: inline-flex;
    align-items: center;
    gap: 20px;
    padding-left: 250px;
}

.male{
    display: flex;
width: 972px;
flex-direction: column;
align-items: flex-start;
gap: 28px;
}

.estrella{
    position: absolute;
      bottom: -710px;
      left: 10px;
      font-size: 32px;
      user-select: none;
}

.estrellacelest{
    position: absolute;
      bottom: -130px;
      left: 0px;
      font-size: 32px;
      user-select: none;
}

.boton-male{
    color: #8FA0D8;
    font-family: "Dx Lactos - Free Persoanl Use";
    font-size: 95px;
    font-style: normal;
    line-height: normal;
    width: 450px;
    height: 361px;
}