/* CSS DOCUMENT */
@charset "UTF-8"; 

@font-face {
    font-family: "raleway";
    src: url(Fuentes/Raleway-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;

    /*aca empiezan las aplicaciones*/
}
@font-face {
    font-family: raleway italic;
    src: url(Fuentes/Raleway-Italic.ttf) format(truetype);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: raleway bold;
    src: url(Fuentes/Raleway-Bold.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: faustina;
    src: url(Fuentes/Faustina-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'raleway bold', sans serif;
    }

h2 {
    font-family: 'raleway italic', sans serif;
    color: rgb(187, 162, 210);
}

h4 {
    font-family: 'raleway', sans serif;
}

h3 {
    font-family: 'raleway', sans serif;
    color: rgb(187, 162, 210);
}

p {
  font-family: 'faustina', serif;
  font-size: 18px;
  list-style: none;
}
p{
    font-size: 1rem;
    font-family: 'faustina', serif;
    font-size: 1rem;
    text-wrap-style: balance;
}
body{
    background-color: #fff9ec;
}

header{
    padding: 20px
}

#hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(img/trama.jpeg);
    background-position: center;
    background-size: cover;
    height: 150px;
    border: 5px solid rgb(187, 162, 210);
    box-sizing: border-box;
    text-align: center;


}
footer{
    background: linear-gradient(45deg, #fff9ec, #dba0f2);
    padding-left: 35px;
}
body{
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

.flex-item-sobre-mi {
    flex: 1 1 100%;
    max-width: 100%;
    min-height: 250px;
    text-align:center;
    padding: 40px;
    border: 3px solid #dba0f2;
    height: 200px;
    width: 30px;
    box-sizing: border-box;
}

.flex-item {
    flex: 1 1 300px;
    max-width: 31%;
    min-height: 250px;
    text-align:center;
    padding: 25px;
    border: 3px solid #dba0f2;
    box-sizing: border-box;
    background-color: #fff9ec;
}